In [2]:
import os
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
names = os.listdir('./전라남도')

In [4]:
names = [name[:-4] for name in names]

In [7]:
df_전라남도 = pd.DataFrame()

for name in names:
    df = pd.read_csv(f'./전라남도/{name}.csv',encoding='ANSI')
    df_전라남도 = pd.concat([df_전라남도,df],ignore_index=True)

==================================================================================================================

==================================================================================================================

==================================================================================================================

In [4]:
# 파일명 변경

folder_names = os.listdir('./전남/')

for folder_name in folder_names:
    file_names = os.listdir(f'./전남/{folder_name}')
    for file_name in file_names:
        split_file_name = file_name.replace('.csv','').split('_')
        os.rename(f'./전남/{folder_name}/{file_name}',f'./전남/{folder_name}/{folder_name}_{split_file_name[1]}.csv')

### 데이터프레임 합치기
### 관광지 기본정보

In [8]:
basic_info = pd.DataFrame()

folder_names = os.listdir('./전남/')

for folder_name in folder_names:
    df = pd.read_csv(f'./전남/{folder_name}/{folder_name}_관광지 기본정보.csv',encoding='ANSI')
    basic_info = pd.concat([basic_info,df],ignore_index=True)

In [9]:
basic_info

         관광지명        주소   평균 체류시간
0   GS칼텍스예울마루  전라남도 여수시   3시간 5분
1         거문도  전라남도 여수시  3시간 21분
2       거문도등대  전라남도 여수시  1시간 21분
3       거북선공원  전라남도 여수시  2시간 28분
4         국동항  전라남도 여수시  3시간 35분
..        ...       ...       ...
78        하화도  전라남도 여수시  4시간 21분
79    한산사(여수)  전라남도 여수시  0시간 41분
80    향일암(여수)  전라남도 여수시  0시간 47분
81        화태도  전라남도 여수시   2시간 8분
82    흥국사(여수)  전라남도 여수시  2시간 53분

[83 rows x 3 columns]

In [10]:
basic_info.to_csv('./전남/basic_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기

### 내비게이션

In [12]:
navi_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./전남/{folder_name}/{folder_name}_내비게이션 목적지 검색량 추이.csv',encoding='ANSI',index_col=0)
    df = df.rename(columns={df.columns[0] : folder_name}).transpose()
    df['관광지명'] = folder_name
    navi_info = pd.concat([navi_info,df])

In [13]:
navi_info

,202301,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312,관광지명
GS칼텍스예울마루,321.0,353.0,643.0,908.0,599.0,769.0,442.0,530.0,934.0,1026.0,1197.0,708.0,GS칼텍스예울마루
거문도,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,거문도
거문도등대,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,NaN,거문도등대
거북선공원,163.0,149.0,199.0,170.0,164.0,159.0,157.0,157.0,264.0,286.0,143.0,165.0,거북선공원
국동항,939.0,1039.0,1385.0,NaN,NaN,226.0,76.0,615.0,2046.0,2106.0,1537.0,1229.0,국동항
...,...,...,...,...,...,...,...,...,...,...,...,...,...
하화도,3.0,NaN,30.0,NaN,NaN,NaN,NaN,5.0,39.0,24.0,8.0,12.0,하화도
한산사(여수),66.0,40.0,22.0,31.0,44.0,28.0,19.0,26.0,47.0,58.0,8.0,14.0,한산사(여수)
향일암(여수),7380.0,8383.0,7652.0,8533.0,7846.0,7123.0,6470.0,8816.0,6720.0,9742.0,6645.0,7269.0,향일암(여수)
화태도,274.0,248.0,260.0,NaN,NaN,36.0,11.0,122.0,376.0,416.0,211.0,253.0,화태도
흥국사(여수),263.0,365.0,638.0,719.0,483.0,410.0,473.0,777.0,655.0,562.0,422.0,305.0,흥국사(여수)

In [15]:
navi_info.to_csv('./전남/navi_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 방문자 거주지별 분포

In [16]:
order = ['관광지명','광역지자체명', '기초지자체명', '광역지자체별 거주 방문자 비율', '기초지자체별 거주 방문자 비율']

visit_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./전남/{folder_name}/{folder_name}_방문자 거주지별 분포.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[order]
    
    visit_info = pd.concat([visit_info,df],ignore_index=True)

In [17]:
visit_info

            관광지명   광역지자체명 기초지자체명  광역지자체별 거주 방문자 비율  기초지자체별 거주 방문자 비율
0      GS칼텍스예울마루  강원특별자치도    원주시               1.2              53.1
1      GS칼텍스예울마루  강원특별자치도    춘천시               1.2               7.7
2      GS칼텍스예울마루  강원특별자치도    철원군               1.2               8.4
3      GS칼텍스예울마루  강원특별자치도    삼척시               1.2               4.0
4      GS칼텍스예울마루  강원특별자치도    홍천군               1.2               2.0
...          ...      ...    ...               ...               ...
20278    흥국사(여수)     충청북도    음성군               2.1               4.6
20279    흥국사(여수)     충청북도    진천군               2.1               4.0
20280    흥국사(여수)     충청북도    보은군               2.1               0.3
20281    흥국사(여수)     충청북도    괴산군               2.1               1.9
20282    흥국사(여수)     충청북도    단양군               2.1               0.3

[20283 rows x 5 columns]

In [18]:
visit_info.to_csv('./전남/visit_info.csv',encoding='utf-8',index=False)

### 데이터프레임 합치기
### 성별

In [19]:
order = ['관광지명','연령대', '남성방문 비율', '여성방문 비율']

gender_info = pd.DataFrame()

for folder_name in folder_names:
    df = pd.read_csv(f'./전남/{folder_name}/{folder_name}_성·연령별 방문자.csv',encoding='ANSI')
    df['관광지명'] = folder_name
    df = df[order]
    
    gender_info = pd.concat([gender_info,df],ignore_index=True)

In [20]:
gender_info

          관광지명     연령대  남성방문 비율  여성방문 비율
0    GS칼텍스예울마루  70세 이상      3.5      2.6
1    GS칼텍스예울마루  60~69세      8.3      9.8
2    GS칼텍스예울마루  50~59세      9.7      9.9
3    GS칼텍스예울마루  40~49세      6.7      7.0
4    GS칼텍스예울마루  30~39세      7.9     10.5
..         ...     ...      ...      ...
659    흥국사(여수)  40~49세      4.1      5.6
660    흥국사(여수)  30~39세      3.5      4.1
661    흥국사(여수)  20~29세      2.7      3.0
662    흥국사(여수)  10~19세      0.6      0.9
663    흥국사(여수)    0~9세      0.1      0.2

[664 rows x 4 columns]

In [21]:
gender_info.to_csv('./전남/gender_info.csv',encoding='utf-8',index=False)

### 데이터 가져오기
### 위치정보

In [22]:
import requests
from bs4 import BeautifulSoup
import time

In [23]:
url = 'https://datalab.visitkorea.or.kr/visualize/getTempleteData.do'

params = {
    "SIDO_CD": 46,
    "SGG_CD": 46130,
    "BASE_YM1": 2010,
    "BASE_YM2": 2022,
    "CONT_NM": "",
    "KTO_CATE_LCLS_CD": "",
    "KTO_CATE_MCLS_CD": "",
    "firstIndex": float('nan'),
    "pageIndex": 1,
    "recordCountPerPage": 10,
    "orderSelect": "",
    "orderValue": "asc",
    "contentList": "전체",
    "noTheme": "",
    "qid": "LN_05_01_011"
}

response = requests.get(url,params=params)
data = response.json()

In [27]:
all = []

while True:
    for item in data.get('list', []):
        result = {
            '관광지명': item.get('CONT_NM'),
            '주소': item.get('TAR_ADDR_NM'),
            '대분류': item.get('KTO_CATE_LCLS_NM'),
            '중분류': item.get('KTO_CATE_MCLS_NM'),
            '소분류': item.get('KTO_CATE_SCLS_NM'),
            'longitude': item.get('XCRD'),
            'latitude': item.get('YCRD')
        }
        all.append(result)
        
    params['pageIndex'] += 1
    
    time.sleep(5)
    
    if len(all) == 83:
        break

In [29]:
df = pd.DataFrame(all)

In [31]:
df.to_csv('./전남/location_info.csv',encoding='utf-8',index=False)

==================================================================================================

==================================================================================================

==================================================================================================

### 평점, 리뷰 수 가져오기

In [32]:
import pandas as pd

basic_info = pd.read_csv('./전남/basic_info.csv')
gender_info = pd.read_csv('./전남/gender_info.csv')
location_info = pd.read_csv('./전남/location_info.csv')
navi_info = pd.read_csv('./전남/navi_info.csv')
visit_info = pd.read_csv('./전남/visit_info.csv')

In [33]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

stars = []
reviews = []

for i in basic_info['관광지명']:
    url = f'https://www.google.co.kr/maps/search/{i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    
    try:
        # 해당 클래스명이 나타날 때까지 최대 10초 대기
        element = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.CLASS_NAME, 'F7nice'))
        )
        
        star = element.text.split('\n')[0]
        review = element.text.split('\n')[1][1:-1]
        
        stars.append(star)
        reviews.append(review)
    except:
        check = input('일치하는 장소를 클릭 후 y를 눌러주세요(이외 None)')
        if check.upper() == 'Y':
            star = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[0]
            review = driver.find_element(By.CLASS_NAME, 'F7nice').text.split('\n')[1][1:-1]
            
            stars.append(star)
            reviews.append(review)
        else:
            stars.append(None)
            reviews.append(None)
    
    driver.quit()
    print(f'평점 수 : {len(stars)}','|',f'리뷰 수 : {len(reviews)}','|',f'관광지 명 : {i}','|', f'별점 : {star}','|',f'리뷰 : {review}')
    
    star = None
    review = None

평점 수 : 1 | 리뷰 수 : 1 | 관광지 명 : GS칼텍스예울마루 | 별점 : 4.6 | 리뷰 : 652
평점 수 : 2 | 리뷰 수 : 2 | 관광지 명 : 거문도 | 별점 : 3.9 | 리뷰 : 35
평점 수 : 3 | 리뷰 수 : 3 | 관광지 명 : 거문도등대 | 별점 : 4.5 | 리뷰 : 165
평점 수 : 4 | 리뷰 수 : 4 | 관광지 명 : 거북선공원 | 별점 : 4.3 | 리뷰 : 723
평점 수 : 5 | 리뷰 수 : 5 | 관광지 명 : 국동항 | 별점 : 4.3 | 리뷰 : 7
평점 수 : 6 | 리뷰 수 : 6 | 관광지 명 : 굴전여가캠핑장 | 별점 : 3.8 | 리뷰 : 187
평점 수 : 7 | 리뷰 수 : 7 | 관광지 명 : 금오도 | 별점 : 4.0 | 리뷰 : 48
평점 수 : 8 | 리뷰 수 : 8 | 관광지 명 : 낭도 | 별점 : 4.5 | 리뷰 : 124
평점 수 : 9 | 리뷰 수 : 9 | 관광지 명 : 낭도항 | 별점 : 4.0 | 리뷰 : 45
평점 수 : 10 | 리뷰 수 : 10 | 관광지 명 : 낭만포차 | 별점 : 3.5 | 리뷰 : 7,133
평점 수 : 11 | 리뷰 수 : 11 | 관광지 명 : 대경도대합실 | 별점 : 3.4 | 리뷰 : 11
평점 수 : 12 | 리뷰 수 : 12 | 관광지 명 : 돌산공원 | 별점 : 4.3 | 리뷰 : 2,910
평점 수 : 13 | 리뷰 수 : 13 | 관광지 명 : 돌산도 | 별점 : 4.0 | 리뷰 : 1
평점 수 : 14 | 리뷰 수 : 14 | 관광지 명 : 돌산평사리고니도래지 | 별점 : 2.8 | 리뷰 : 4
평점 수 : 15 | 리뷰 수 : 15 | 관광지 명 : 돌산항 | 별점 : 4.0 | 리뷰 : 34
평점 수 : 16 | 리뷰 수 : 16 | 관광지 명 : 두문포(죽포항) | 별점 : 4.0 | 리뷰 : 224
평점 수 : 17 | 리뷰 수 : 17 | 관광지 명 : 디오션리조트워터파크 | 별점 : 4.0 | 리뷰 : 587
평점 수 : 18 | 리뷰 수 : 18 | 관광지 명 : 만성리검은모래해변 | 별점 : 4.0 | 리뷰 : 423
평점 수 : 19 | 리뷰 수 : 19 | 관광지 명 : 모사금해수욕장 | 별점 : 4.2 | 리뷰 : 243
평점 수 : 20 | 리뷰 수 : 20 | 관광지 명 : 묘도선착장 | 별점 : 3.4 | 리뷰 : 8
평점 수 : 21 | 리뷰 수 : 21 | 관광지 명 : 무슬목해변 | 별점 : 4.3 | 리뷰 : 51
평점 수 : 22 | 리뷰 수 : 22 | 관광지 명 : 미평산림욕장 | 별점 : 4.5 | 리뷰 : 4
평점 수 : 23 | 리뷰 수 : 23 | 관광지 명 : 방죽포해변 | 별점 : 4.0 | 리뷰 : 945
평점 수 : 24 | 리뷰 수 : 24 | 관광지 명 : 백야도등대 | 별점 : 4.1 | 리뷰 : 181
평점 수 : 25 | 리뷰 수 : 25 | 관광지 명 : 백야선착장 | 별점 : 4.1 | 리뷰 : 54
평점 수 : 26 | 리뷰 수 : 26 | 관광지 명 : 봉황산자연휴양림(여수봉황산자연휴양림) | 별점 : 4.2 | 리뷰 : 18
평점 수 : 27 | 리뷰 수 : 27 | 관광지 명 : 북한반잠수정전시관 | 별점 : 4.1 | 리뷰 : 347
평점 수 : 28 | 리뷰 수 : 28 | 관광지 명 : 사도 | 별점 : 4.0 | 리뷰 : 7
평점 수 : 29 | 리뷰 수 : 29 | 관광지 명 : 석천사(여수) | 별점 : 4.5 | 리뷰 : 44
평점 수 : 30 | 리뷰 수 : 30 | 관광지 명 : 소호동동다리 | 별점 : 4.4 | 리뷰 : 1,225
평점 수 : 31 | 리뷰 수 : 31 | 관광지 명 : 소호요트장 | 별점 : 4.3 | 리뷰 : 555
평점 수 : 32 | 리뷰 수 : 32 | 관광지 명 : 소호항 | 별점 : None | 리뷰 : None
평점 수 : 33 | 리뷰 수 : 33 | 관광지 명 : 손양원목사순교기념관 | 별점 : 4.3 | 리뷰 : 328
평점 수 : 34 | 리뷰 수 : 34 | 관광지 명 : 신덕해수욕장/신덕해변 | 별점 : 4.1 | 리뷰 : 129
평점 수 : 35 | 리뷰 수 : 35 | 관광지 명 : 아쿠아플라넷여수 | 별점 : 4.1 | 리뷰 : 9,214
평점 수 : 36 | 리뷰 수 : 36 | 관광지 명 : 안도해변 | 별점 : 3.9 | 리뷰 : 39
평점 수 : 37 | 리뷰 수 : 37 | 관광지 명 : 엑스포해양공원 | 별점 : 4.2 | 리뷰 : 896
평점 수 : 38 | 리뷰 수 : 38 | 관광지 명 : 여수가사리갈대밭 | 별점 : 4.2 | 리뷰 : 155
평점 수 : 39 | 리뷰 수 : 39 | 관광지 명 : 여수교동시장 | 별점 : 3.9 | 리뷰 : 656
평점 수 : 40 | 리뷰 수 : 40 | 관광지 명 : 여수국가산단전망대 | 별점 : 3.9 | 리뷰 : 106
평점 수 : 41 | 리뷰 수 : 41 | 관광지 명 : 여수낭도리공룡발자국화석산지 | 별점 : 4.0 | 리뷰 : 25
평점 수 : 42 | 리뷰 수 : 42 | 관광지 명 : 여수녹테마레 | 별점 : 4.2 | 리뷰 : 82
평점 수 : 43 | 리뷰 수 : 43 | 관광지 명 : 여수선사유적공원 | 별점 : 3.9 | 리뷰 : 189
평점 수 : 44 | 리뷰 수 : 44 | 관광지 명 : 여수선소유적 | 별점 : 4.1 | 리뷰 : 376
평점 수 : 45 | 리뷰 수 : 45 | 관광지 명 : 여수성산공원 | 별점 : 4.3 | 리뷰 : 597
평점 수 : 46 | 리뷰 수 : 46 | 관광지 명 : 여수수산물특화시장 | 별점 : 3.8 | 리뷰 : 3,789
평점 수 : 47 | 리뷰 수 : 47 | 관광지 명 : 여수신항(여수엑스포항) | 별점 : 4.2 | 리뷰 : 144
평점 수 : 48 | 리뷰 수 : 48 | 관광지 명 : 여수연안여객선터미널 | 별점 : 3.7 | 리뷰 : 40
평점 수 : 49 | 리뷰 수 : 49 | 관광지 명 : 여수예술랜드 | 별점 : 3.8 | 리뷰 : 643
평점 수 : 50 | 리뷰 수 : 50 | 관광지 명 : 여수유월드루지테마파크 | 별점 : 4.4 | 리뷰 : 2,494
평점 수 : 51 | 리뷰 수 : 51 | 관광지 명 : 여수율촌역 | 별점 : 3.7 | 리뷰 : 6
평점 수 : 52 | 리뷰 수 : 52 | 관광지 명 : 여수중앙시장/중앙쇼핑센터 | 별점 : 3.7 | 리뷰 : 122
평점 수 : 53 | 리뷰 수 : 53 | 관광지 명 : 여수진남관 | 별점 : 3.7 | 리뷰 : 628
평점 수 : 54 | 리뷰 수 : 54 | 관광지 명 : 여수충민사 | 별점 : 4.4 | 리뷰 : 100
평점 수 : 55 | 리뷰 수 : 55 | 관광지 명 : 여수타루비 | 별점 : 4.2 | 리뷰 : 13
평점 수 : 56 | 리뷰 수 : 56 | 관광지 명 : 여수해상케이블카 | 별점 : 4.3 | 리뷰 : 11,465
평점 수 : 57 | 리뷰 수 : 57 | 관광지 명 : 여수해양레일바이크 | 별점 : 3.8 | 리뷰 : 3,160
평점 수 : 58 | 리뷰 수 : 58 | 관광지 명 : 여수향교 | 별점 : 3.6 | 리뷰 : 5
평점 수 : 59 | 리뷰 수 : 59 | 관광지 명 : 여자만갯벌 | 별점 : 4.5 | 리뷰 : 57
평점 수 : 60 | 리뷰 수 : 60 | 관광지 명 : 여천항(여천선착장) | 별점 : 3.8 | 리뷰 : 58
평점 수 : 61 | 리뷰 수 : 61 | 관광지 명 : 영취산(여수) | 별점 : 4.3 | 리뷰 : 45
평점 수 : 62 | 리뷰 수 : 62 | 관광지 명 : 오동도등대 | 별점 : 4.3 | 리뷰 : 851
평점 수 : 63 | 리뷰 수 : 63 | 관광지 명 : 용문사(여수) | 별점 : 4.3 | 리뷰 : 32
평점 수 : 64 | 리뷰 수 : 64 | 관광지 명 : 용월사 | 별점 : 4.5 | 리뷰 : 235
평점 수 : 65 | 리뷰 수 : 65 | 관광지 명 : 웅천친수공원 | 별점 : 4.4 | 리뷰 : 1,960
평점 수 : 66 | 리뷰 수 : 66 | 관광지 명 : 월내선착장 | 별점 : 5.0 | 리뷰 : 1
평점 수 : 67 | 리뷰 수 : 67 | 관광지 명 : 월전선착장(월전항) | 별점 : 3.9 | 리뷰 : 154
평점 수 : 68 | 리뷰 수 : 68 | 관광지 명 : 은적사(여수) | 별점 : 4.5 | 리뷰 : 33
평점 수 : 69 | 리뷰 수 : 69 | 관광지 명 : 이사부크루즈 | 별점 : 3.9 | 리뷰 : 608
평점 수 : 70 | 리뷰 수 : 70 | 관광지 명 : 이순신공원(여수) | 별점 : 4.5 | 리뷰 : 442
평점 수 : 71 | 리뷰 수 : 71 | 관광지 명 : 이순신대교홍보관 | 별점 : 4.0 | 리뷰 : 2,055
평점 수 : 72 | 리뷰 수 : 72 | 관광지 명 : 자산공원 | 별점 : 4.2 | 리뷰 : 641
평점 수 : 73 | 리뷰 수 : 73 | 관광지 명 : 장군도(수중성) | 별점 : 4.6 | 리뷰 : 7
평점 수 : 74 | 리뷰 수 : 74 | 관광지 명 : 장도근린공원 | 별점 : 4.5 | 리뷰 : 4
평점 수 : 75 | 리뷰 수 : 75 | 관광지 명 : 장등해변 | 별점 : 4.1 | 리뷰 : 18
평점 수 : 76 | 리뷰 수 : 76 | 관광지 명 : 전라남도해양수산과학관 | 별점 : 4.2 | 리뷰 : 658
평점 수 : 77 | 리뷰 수 : 77 | 관광지 명 : 조발도 | 별점 : 4.3 | 리뷰 : 88
평점 수 : 78 | 리뷰 수 : 78 | 관광지 명 : 진남종합시장 | 별점 : 3.9 | 리뷰 : 343
평점 수 : 79 | 리뷰 수 : 79 | 관광지 명 : 하화도 | 별점 : 4.2 | 리뷰 : 34
평점 수 : 80 | 리뷰 수 : 80 | 관광지 명 : 한산사(여수) | 별점 : 4.1 | 리뷰 : 67
평점 수 : 81 | 리뷰 수 : 81 | 관광지 명 : 향일암(여수) | 별점 : 4.5 | 리뷰 : 5,671
평점 수 : 82 | 리뷰 수 : 82 | 관광지 명 : 화태도 | 별점 : 3.4 | 리뷰 : 7
평점 수 : 83 | 리뷰 수 : 83 | 관광지 명 : 흥국사(여수) | 별점 : 4.2 | 리뷰 : 312

In [34]:
print(f'총 데이터 수 : {len(basic_info)}')
print('=========================================')
print(f'평점 수 : {len(stars)}')
print(f'리뷰 수 : {len(reviews)}')
print('=========================================')
print(f'총 None값 수 : {stars.count(None)}')
print(f'총 None값 수 : {reviews.count(None)}')

총 데이터 수 : 83
=========================================
평점 수 : 83
리뷰 수 : 83
=========================================
총 None값 수 : 1
총 None값 수 : 1

In [35]:
basic_info['stars'] = stars
basic_info['reviews'] = reviews

### 리뷰, 체류시간 -> 숫자 값으로 변경

In [38]:
time = []

for i in basic_info['평균 체류시간']:
    i = i.replace('시간','').replace('분','').strip()
    i = i.split(' ')
    time.append((int(i[0]) * 60) + int(i[1]))
    
basic_info['평균 체류시간'] = time

In [50]:
reviews_to_int = []

for i in basic_info['reviews']:
    if type(i) == type(None):
        reviews_to_int.append(i)
        continue
    if type(i) == float:
        reviews_to_int.append(i)
    else:
        i = i.replace(',','')
        i = int(i)
        reviews_to_int.append(i)

basic_info['reviews'] = reviews_to_int

In [54]:
basic_info.to_csv('./전남/basic_info.csv',encoding='utf-8',index=False)

### None값 -> 관광지별 평균

In [56]:
navi_info.set_index('관광지명',inplace=True)

In [58]:
navi_info = navi_info.apply(lambda row: row.fillna(int(row.mean())), axis=1)

In [59]:
navi_info

,202301,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311,202312
관광지명,,,,,,,,,,,,
GS칼텍스예울마루,321.0,353.0,643.0,908.0,599.0,769.0,442.0,530.0,934.0,1026.0,1197.0,708.0
거문도,4.0,4.0,6.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0
거문도등대,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
거북선공원,163.0,149.0,199.0,170.0,164.0,159.0,157.0,157.0,264.0,286.0,143.0,165.0
국동항,939.0,1039.0,1385.0,1119.0,1119.0,226.0,76.0,615.0,2046.0,2106.0,1537.0,1229.0
...,...,...,...,...,...,...,...,...,...,...,...,...
하화도,3.0,17.0,30.0,17.0,17.0,17.0,17.0,5.0,39.0,24.0,8.0,12.0
한산사(여수),66.0,40.0,22.0,31.0,44.0,28.0,19.0,26.0,47.0,58.0,8.0,14.0
향일암(여수),7380.0,8383.0,7652.0,8533.0,7846.0,7123.0,6470.0,8816.0,6720.0,9742.0,6645.0,7269.0
화태도,274.0,248.0,260.0,220.0,220.0,36.0,11.0,122.0,376.0,416.0,211.0,253.0
흥국사(여수),263.0,365.0,638.0,719.0,483.0,410.0,473.0,777.0,655.0,562.0,422.0,305.0

In [60]:
navi_info.to_csv('./전남/navi_info.csv',encoding='utf-8')

In [61]:
visit_info

            관광지명   광역지자체명 기초지자체명  광역지자체별 거주 방문자 비율  기초지자체별 거주 방문자 비율
0      GS칼텍스예울마루  강원특별자치도    원주시               1.2              53.1
1      GS칼텍스예울마루  강원특별자치도    춘천시               1.2               7.7
2      GS칼텍스예울마루  강원특별자치도    철원군               1.2               8.4
3      GS칼텍스예울마루  강원특별자치도    삼척시               1.2               4.0
4      GS칼텍스예울마루  강원특별자치도    홍천군               1.2               2.0
...          ...      ...    ...               ...               ...
20278    흥국사(여수)     충청북도    음성군               2.1               4.6
20279    흥국사(여수)     충청북도    진천군               2.1               4.0
20280    흥국사(여수)     충청북도    보은군               2.1               0.3
20281    흥국사(여수)     충청북도    괴산군               2.1               1.9
20282    흥국사(여수)     충청북도    단양군               2.1               0.3

[20283 rows x 5 columns]

### 지역 방문자수

In [66]:
names = visit_info['관광지명'].tolist()

local_visit = visit_info[visit_info['기초지자체명'].str.contains('여수')].groupby('관광지명')[['광역지자체별 거주 방문자 비율']].mean()
local_visit = local_visit.reset_index()

local_visit.loc[local_visit['관광지명'].isin(names)]

    관광지명  광역지자체별 거주 방문자 비율
0    돌산도              14.6
1  여수율촌역              69.3
2    조발도              38.6
3    화태도              28.7

In [77]:
basic_info = pd.merge(basic_info,local_visit,how='outer',on='관광지명')

In [78]:
basic_info

         관광지명        주소  평균 체류시간 stars  reviews  광역지자체별 거주 방문자 비율
0   GS칼텍스예울마루  전라남도 여수시      185   4.6    652.0               NaN
1         거문도  전라남도 여수시      201   3.9     35.0               NaN
2       거문도등대  전라남도 여수시       81   4.5    165.0               NaN
3       거북선공원  전라남도 여수시      148   4.3    723.0               NaN
4         국동항  전라남도 여수시      215   4.3      7.0               NaN
..        ...       ...      ...   ...      ...               ...
78        하화도  전라남도 여수시      261   4.2     34.0               NaN
79    한산사(여수)  전라남도 여수시       41   4.1     67.0               NaN
80    향일암(여수)  전라남도 여수시       47   4.5   5671.0               NaN
81        화태도  전라남도 여수시      128   3.4      7.0              28.7
82    흥국사(여수)  전라남도 여수시      173   4.2    312.0               NaN

[83 rows x 6 columns]

===============================================================================================================

===============================================================================================================

===============================================================================================================

In [80]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
from selenium.webdriver.common.action_chains import ActionChains
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

search_number = []
for i in basic_info['관광지명']:
    if not i.startswith('여수'):
        i = '여수 ' + i
    url = f'https://www.google.com/search?q={i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    time.sleep(2)

    search_number.append(driver.find_element(By.ID, 'result-stats').text)

basic_info['search_number'] = search_number

In [84]:
search_number = []
for index,i in enumerate(basic_info['관광지명']):
    if basic_info.iloc[index]['search_number']:
        continue
    if not i.startswith('여수'):
        i = '여수 ' + i
    url = f'https://www.google.com/search?q={i}'
    service = Service(executable_path='./data/chromedriver.exe')
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get(url)
    time.sleep(2)

    # search_number.append(driver.find_element(By.ID, 'result-stats').text)
    basic_info.loc[index,'search_number'] = driver.find_element(By.ID, 'result-stats').text

In [90]:
basic_info

,관광지명,주소,평균 체류시간,stars,reviews,광역지자체별 거주 방문자 비율,search_number
0,GS칼텍스예울마루,전라남도 여수시,185,4.6,652.0,NaN,28100
1,거문도,전라남도 여수시,201,3.9,35.0,NaN,278000
2,거문도등대,전라남도 여수시,81,4.5,165.0,NaN,30700
3,거북선공원,전라남도 여수시,148,4.3,723.0,NaN,200000
4,국동항,전라남도 여수시,215,4.3,7.0,NaN,78200
...,...,...,...,...,...,...,...
78,하화도,전라남도 여수시,261,4.2,34.0,NaN,36800
79,한산사(여수),전라남도 여수시,41,4.1,67.0,NaN,11700
80,향일암(여수),전라남도 여수시,47,4.5,5671.0,NaN,169000
81,화태도,전라남도 여수시,128,3.4,7.0,28.7,504000
82,흥국사(여수),전라남도 여수시,173,4.2,312.0,NaN,35400

In [87]:
import re

pattern = re.compile(r'\([^)]*\)')

basic_info['search_number'] = basic_info['search_number'].apply(lambda x: re.sub(pattern,'',x).strip())

In [89]:
basic_info['search_number'] = basic_info['search_number'].apply(lambda x: int(x.replace('개','').replace(',','')[7:]))

In [98]:
basic_info.to_csv('./전남/basic_info.csv',encoding='utf-8',index=False)

===============================================================================================================

===============================================================================================================

===============================================================================================================

In [1]:
import pandas as pd

basic_info = pd.read_csv('./전남/basic_info.csv')
gender_info = pd.read_csv('./전남/gender_info.csv')
location_info = pd.read_csv('./전남/location_info.csv')
navi_info = pd.read_csv('./전남/navi_info.csv')
visit_info = pd.read_csv('./전남/visit_info.csv')

In [2]:
totals = []
avgs = []

for i in range(len(navi_info)):
    total = navi_info.iloc[i][1:].sum()
    avg = navi_info.iloc[i][1:].mean()
    
    totals.append(total)
    avgs.append(avg)
navi_info['sum'] = totals
navi_info['avg'] = avgs

In [3]:
df = pd.DataFrame()
df = pd.concat([basic_info,navi_info[['sum','avg']]],axis=1)
df = pd.merge(df,location_info,on='관광지명',how='inner')

In [4]:
import numpy as np
score = []

for i in range(len(df)):
    if pd.isna(df.iloc[i]['stars']):
        star = 0
    else:
        star = df.iloc[i]['stars'] * 1.2
        
    if pd.isna(df.iloc[i]['reviews']):
        review = 0
    else:
        review = np.log1p(max(df['reviews'])) - np.log1p(df.iloc[i]['reviews']) * 1.1
    search = np.log1p(max(df['search_number'])) - np.log1p(df.iloc[i]['search_number'])
    if pd.isna(df.iloc[0]['광역지자체별 거주 방문자 비율']):
        visit = 0
    else:
        visit = np.log1p(df.iloc[i]['광역지자체별 거주 방문자 비율']) * 1.1
    time = np.log1p(df.iloc[i]['평균 체류시간']) * 0.8
    navi = np.log1p(max(df['avg'])) - np.log1p(df.iloc[i]['avg'])
    all = star+review+search+visit+time-navi
    
    score.append(all)

df['scores'] = score

In [5]:
first = df.sort_values(by='scores',ascending=False)

In [7]:
first.to_csv('./jeonnam.csv',encoding='utf-8',index=False)

In [6]:
first['관광지명'].tail(25).tolist()

['석천사(여수)',
 '여수예술랜드',
 '이순신대교홍보관',
 '향일암(여수)',
 '여수국가산단전망대',
 '여수중앙시장/중앙쇼핑센터',
 '안도해변',
 '아쿠아플라넷여수',
 '여수성산공원',
 '여수해양레일바이크',
 '여수교동시장',
 '돌산공원',
 '사도',
 '낭만포차',
 '거북선공원',
 '여수해상케이블카',
 '여자만갯벌',
 '거문도등대',
 '거문도',
 '여수수산물특화시장',
 '자산공원',
 '오동도등대',
 '엑스포해양공원',
 '북한반잠수정전시관',
 '소호항']

In [7]:
first['관광지명'].head(25).tolist()

['장도근린공원',
 '미평산림욕장',
 '대경도대합실',
 '국동항',
 '봉황산자연휴양림(여수봉황산자연휴양림)',
 '장등해변',
 '월내선착장',
 '무슬목해변',
 '여수가사리갈대밭',
 '백야선착장',
 '낭도항',
 '두문포(죽포항)',
 '여천항(여천선착장)',
 '여수낭도리공룡발자국화석산지',
 '돌산도',
 '묘도선착장',
 '여수연안여객선터미널',
 '전라남도해양수산과학관',
 '신덕해수욕장/신덕해변',
 '만성리검은모래해변',
 '돌산항',
 '은적사(여수)',
 '여수율촌역',
 '여수녹테마레',
 '여수타루비']

In [141]:
import folium

yeosu_map = folium.Map(location=[34.7604121,127.6622848],zoom_start=11)

In [142]:
for i in range(len(first)):
    if i == 30:
        break
    folium.Marker(
            [first.iloc[i]['latitude'],first.iloc[i]['longitude']],
            popup=folium.Popup(first.iloc[i]['관광지명'],maxWidth=300),
            fill_opacity=0.5,
            icon=folium.Icon(color='blue')            
            ).add_to(yeosu_map)

In [ ]:
yeosu_map

In [118]:
import pandas as pd
import os

In [148]:
# 파일이 있는 디렉토리 설정
directory = "./전남/대중교통"

# 모든 CSV 파일 목록 가져오기
file_list = [file for file in os.listdir(directory) if file.endswith('.csv')]

# 모든 CSV 파일을 담을 빈 DataFrame 생성
combined_df = pd.DataFrame()

# 각 CSV 파일을 순회하면서 데이터를 합치기
for file in file_list:
    file_path = os.path.join(directory, file)
    
    # 관광지 명 추출
    landmark_name = file.split('_')[1]  # 파일명에서 '_'를 기준으로 분리하여 첫 번째 요소를 관광지 명으로 사용
    landmark_name = landmark_name.replace('.csv', '')
    
    # CSV 파일을 DataFrame으로 읽기
    df = pd.read_csv(file_path, encoding="cp949")
    
    # 관광지 명 컬럼 추가
    df['관광지명'] = landmark_name
    
    # 현재 파일의 데이터를 합치기
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# 결과를 CSV 파일로 저장하기
# combined_df.to_csv('combined_data.csv', index=False, encoding="utf-8")

# print("합쳐진 데이터를 combined_data.csv로 저장했습니다.")

In [149]:
total_column = []
for i in range(len(combined_df)):
    total = combined_df.iloc[i][6:-2].sum()
    total_column.append(total)

combined_df['total'] = total_column

In [150]:
# 관광지명으로 그룹화하여 총 승객수를 구하고 새로운 컬럼으로 추가
total_passengers_by_landmark = combined_df.groupby('관광지명')['total'].sum().reset_index()
total_passengers_by_landmark.rename(columns={'total': '총 승객수'}, inplace=True)

# 기존 데이터프레임에 총 승객수 컬럼 추가
df = pd.merge(combined_df, total_passengers_by_landmark, on='관광지명', how='left')

In [151]:
bus = df.groupby('관광지명')[['노선']].nunique().reset_index()

In [152]:
new_df = df[['관광지명', '총 승객수']]
new_df = new_df.drop_duplicates()

In [153]:
new_df = pd.merge(new_df,bus,on='관광지명',how='inner')

In [154]:
new_df

            관광지명  총 승객수  노선
0          여수타루비   6669  83
1            돌산항    519   5
2           돌산공원    650  11
3       여수해상케이블카   1533  12
4            돌산도    167   9
5      만성리검은모래해변   1922   4
6          월내선착장     14   2
7    전라남도해양수산과학관    203   7
8          무슬목해변    393   9
9           자산공원   2915   4
10         백야선착장    504   2
11        대경도대합실    721  12
12        여수녹테마레     98   2
13        여수성산공원   3276   4
14      여수가사리갈대밭     28   1
15     여수국가산단전망대    569  16
16           소호항   1263   7
17      아쿠아플라넷여수   1262   1
18    신덕해수욕장신덕해변     63   1
19           낭도항    162   1
20          낭만포차   1909   1
21         오동도등대   3946   4
22         여수율촌역   1877   9
23          장등해변     65   5
24     여수수산물특화시장  24672  87
25  여수중앙시장중앙쇼핑센터  24672  87
26       석천사(여수)   5194  75
27        여수교동시장  46246  87
28     여수해양레일바이크    541   4
29         거북선공원   6119  50

In [155]:
new_df.loc[25,'관광지명'] = '여수중앙시장/중앙쇼핑센터'
new_df.loc[18,'관광지명'] = '신덕해수욕장/신덕해변'

In [156]:
for i in range(len(new_df)):
    if new_df.iloc[i]['관광지명'] in first.head(25)['관광지명'].tolist():
        new_df.loc[i,'구분'] = '숨은 명소'
    else:
        new_df.loc[i,'구분'] = '일반 명소'

In [164]:
new_df.to_csv('./전남/bus_info.csv',encoding='utf-8',index=False)

In [165]:
print(len(new_df))
print(len(new_df[new_df['구분'] == '일반 명소']))
print(len(new_df[new_df['구분'] == '숨은 명소']))

30
15
15

In [166]:
new_df[new_df['구분'] == '일반 명소'].sort_values(by='총 승객수',ascending=False)

             관광지명  총 승객수  노선     구분
27         여수교동시장  46246  87  일반 명소
24      여수수산물특화시장  24672  87  일반 명소
25  여수중앙시장/중앙쇼핑센터  24672  87  일반 명소
29          거북선공원   6119  50  일반 명소
26        석천사(여수)   5194  75  일반 명소
21          오동도등대   3946   4  일반 명소
13         여수성산공원   3276   4  일반 명소
9            자산공원   2915   4  일반 명소
20           낭만포차   1909   1  일반 명소
3        여수해상케이블카   1533  12  일반 명소
16            소호항   1263   7  일반 명소
17       아쿠아플라넷여수   1262   1  일반 명소
2            돌산공원    650  11  일반 명소
15      여수국가산단전망대    569  16  일반 명소
28      여수해양레일바이크    541   4  일반 명소

In [167]:
new_df[new_df['구분'] == '숨은 명소'].sort_values(by='총 승객수',ascending=True)

           관광지명  총 승객수  노선     구분
6         월내선착장     14   2  숨은 명소
14     여수가사리갈대밭     28   1  숨은 명소
18  신덕해수욕장/신덕해변     63   1  숨은 명소
23         장등해변     65   5  숨은 명소
12       여수녹테마레     98   2  숨은 명소
19          낭도항    162   1  숨은 명소
4           돌산도    167   9  숨은 명소
7   전라남도해양수산과학관    203   7  숨은 명소
8         무슬목해변    393   9  숨은 명소
10        백야선착장    504   2  숨은 명소
1           돌산항    519   5  숨은 명소
11       대경도대합실    721  12  숨은 명소
22        여수율촌역   1877   9  숨은 명소
5     만성리검은모래해변   1922   4  숨은 명소
0         여수타루비   6669  83  숨은 명소

In [168]:
p = new_df[new_df['구분'] == '일반 명소'][['총 승객수','노선']].sort_values(by='총 승객수',ascending=False)
up = new_df[new_df['구분'] == '숨은 명소'][['총 승객수','노선']].sort_values(by='총 승객수',ascending=True)

In [169]:
from scipy import stats

test_names = ['총 승객수','노선']

# p = new_df[new_df['구분'] == '일반 명소'][['총 승객수','노선']]
# up = new_df[new_df['구분'] == '숨은 명소'][['총 승객수','노선']]

for test_name in test_names:
    statistic,p_value = stats.levene(p[test_name], up[test_name])
    if p_value > 0.05:
        print(f"{test_name} p-value: {p_value}, 등분산 가정 만족")
    else:
        print(f"{test_name} p-value: {p_value}, 이분산 가정 만족")

총 승객수 p-value: 0.059178674273952896, 등분산 가정 만족
노선 p-value: 0.06784926985402691, 등분산 가정 만족

In [170]:
for test_name in test_names[0:1]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',
        equal_var = True
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')

총 승객수 0.03903927883754646 귀무가설 기각

In [171]:
for test_name in test_names[1:]:
    t_statistic,pvalue = stats.ttest_ind(
        a = p[test_name],
        b = up[test_name],
        alternative = 'two-sided',
        equal_var = True
)
    if pvalue<0.05:
        print(test_name,pvalue,'귀무가설 기각')
    else:
        print(test_name,pvalue,'귀무가설 기각 불가')

노선 0.07271890532889116 귀무가설 기각 불가

============================================================================================================

============================================================================================================

============================================================================================================

In [8]:
import requests
from bs4 import BeautifulSoup

In [9]:
url = 'https://korean.visitkorea.or.kr/call'
params = {
    'cmd': 'TOUR_CONTENT_LIST_VIEW',
    'month': 'All',
    'areaCode': '38',
    'sigunguCode': '13',
    'tagId': 'All',
    'sortkind': '1',
    'locationx': '0',
    'locationy': '0',
    'page': '1',
    'cnt': '100',
    'typeList': 'Tour',
    'stampId': '1589345b-b030-11ea-b8bd-020027310001'
}

all_data = []  # 모든 페이지의 데이터를 저장할 리스트

while True:
    response = requests.get(url, params=params)
    data = response.json()

    # 받은 데이터에서 필요한 정보 추출
    result_list = data.get('body', {}).get('result', [])
    for item in result_list:
        img_path = item.get('imgPath', '')
        img_url = f'https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id={img_path}'
        
        extracted_data = {
            '관광지명': item.get('TITLE', ''),
            # 'catch': item.get('catchPhrase', ''),
            # 'addr1': item.get('addr1', ''),
            'img': img_url,
            # 'cotid' : item.get('cotId', ''),
            # 'areaCode' : item.get('areaCode', ''),
            # 'cat1' : item.get('cat1', ''),
            # 'cat2' : item.get('cat2', '')
        }
        
        # cotid = extracted_data['cotid']
        # cat1 = extracted_data['cat1']
        # cat2 = extracted_data['cat2']
        # areaCode = extracted_data['areaCode']
        
        # new_url = f'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid={cotid}&big_category={cat1}&mid_category={cat2}&big_area={areaCode}'
        # response = requests.get(new_url)
        # html = response.text
        # soup = BeautifulSoup(html,'html.parser')
        # description = soup.find('div',class_='blind').text
        # description = description.replace('\n','').replace('\t','')
        # extracted_data['description'] = description

        all_data.append(extracted_data)
    
    # 다음 페이지로 이동
    # if params['page'] in range(0,1000,100):
    #     print('time sleep')
    #     time.sleep(200)
    # else:
    
    print(params['page'])
    params['page'] = str(int(params['page']) + 1)
    

    # 만약 더 이상 페이지가 없으면 반복문 종료
    if not result_list or len(all_data) == 474:
        break

1
2
3
4
5

In [ ]:
import pandas as pd

j = pd.read_csv('./data/jeonnam.csv')
jj = pd.read_csv('./전남/basic_info.csv')

In [ ]:
j = pd.merge(j,jj[['관광지명','catch','description']],on='관광지명',how='left')

In [11]:
df = pd.DataFrame(all_data)

In [12]:
from tqdm import tqdm
import re

tqdm.pandas()
df['관광지명'] = df['관광지명'].progress_apply(lambda x: x.replace(' ',''))

pattern = re.compile(r'\([^)]*\)')
df['관광지명'] = df['관광지명'].apply(lambda x: re.sub(pattern, '', x))

100%|██████████| 474/474 [00:00<00:00, 236791.34it/s]

In [14]:
j = pd.merge(j,df,on='관광지명',how='left')

In [41]:
j[j.img.isna()][['관광지명']]

Empty DataFrame
Columns: [관광지명]
Index: []

In [40]:
j.loc[71,'img'] = df.iloc[97]['img']
j.loc[11,'img'] = df.iloc[163]['img']
j.loc[4,'img'] = df.iloc[98]['img']
j.loc[58,'img'] = df.iloc[348]['img']
j.loc[29,'img'] = df.iloc[232]['img']

j.loc[80,'img'] = df.iloc[341]['img']
j.loc[8,'img'] = df.iloc[49]['img']
j.loc[66,'img'] = df.iloc[86]['img']
j.loc[52,'img'] = df.iloc[48]['img']
j.loc[12,'img'] = df.iloc[167]['img']

j.loc[53,'img'] = df.iloc[10]['img']
j.loc[30,'img'] = df.iloc[220]['img']
j.loc[21,'img'] = df.iloc[13]['img']
j.loc[54,'img'] = df.iloc[376]['img']
j.loc[39,'img'] = df.iloc[418]['img']

j.loc[0,'img'] = df.iloc[2]['img']
j.loc[47,'img'] = df.iloc[7]['img']
j.loc[61,'img'] = df.iloc[55]['img']
j.loc[31,'img'] = df.iloc[394]['img']
j.loc[42,'img'] = df.iloc[353]['img']

In [47]:
j = j.drop(['주소_x','sum'],axis=1).rename(columns={'주소_y':'주소'})

In [49]:
j.to_csv('./data/jeonnam.csv',encoding='utf-8',index=False)